<section class="bg-gray-100">
  <a name="dúvidas"></a>
  <div class="flex flex-col items-center justify-center lg:px-40 py-10">
    <h2 class="text-2xl">Ficou com alguma dúvida?</h2>

    <div id="accordion-open" data-accordion="collapse" class="my-4 w-full space-y-4">

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-1">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500  focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-1" aria-controls="accordion-open-body-1">
            <span class="flex items-center">
              Como funciona a taxa única de adesão do Ton?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Não temos mensalidade! Você paga a taxa apenas ao aderir uma das máquinas em modelo de comodato, tendo direito a garantia enquanto durar nossa parceria.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              A adesão da máquina pode ser paga à vista ou parcelada em até 12 vezes no cartão de crédito. Após este pagamento, não haverá cobrança fixa (aluguel) pelo uso da máquina.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              O cadastro no aplicativo é gratuito e dá direito a utilização de funções como o link de pagamento. Você só paga a taxa única se optar por adquirir uma maquininha.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-2">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-2" aria-controls="accordion-open-body-2">
            <span class="flex items-center">
              O Pix QR Code na máquina cobra taxa?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-2" class="hidden" aria-labelledby="accordion-open-heading-2">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Se você quer enviar ou receber dinheiro usando uma chave Pix pelo App, não há cobranças de taxas e o dinheiro cai na hora.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Exemplo: Se você precisa pagar um fornecedor, é só solicitar a chave dele e a transferência será gratuita.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Já para vender com Pix com QR Code nas maquininhas Ton, a taxa funciona da seguinte forma: são 30 dias gratuitos e depois 0,99%. Seu dinheiro cai na hora e você concentra todas as vendas do seu negócio em um único App. Mais fácil para se organizar. As maquininhas que fazem esse tipo de venda hoje são a T3 e a T3 smart. Para usar dessa função é preciso ter uma chave Pix cadastrada na Conta Ton.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-3">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-3" aria-expanded="false" aria-controls="accordion-open-body-3">
            <span class="flex items-center">
              Qual é o prazo de entrega da minha maquininha?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-3" class="hidden" aria-labelledby="accordion-open-heading-3">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              O prazo de entrega das nossas maquininhas pode variar de acordo com o modelo escolhido. Confira o prazo de entrega da sua maquininha direto no carrinho e no resumo do seu pedido.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              O cartão pré-pago, se solicitado no aplicativo, é enviado separadamente e entregue em até 20 dias úteis.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-4">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-4" aria-expanded="false" aria-controls="accordion-open-body-4">
            <span class="flex items-center">
              Como funcionam os planos das maquininhas do Ton?
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-4" class="hidden" aria-labelledby="accordion-open-heading-4">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Para novos pedidos de maquininha dos planos Promo Ton e GigaTon, as taxas são válidas enquanto você vender pelo menos R$ 2.000,00 no mês.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Caso não atinja esse valor no mês, suas taxas serão alteradas para as do plano MegaTon. Para voltar às taxas anteriores, basta vender acima de R$ 2.000,00 no mês.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Já nos planos Ton Básico e MegaTon não existe mínimo de vendas.
              <a href="https://documentos.ton.com.br/regulamento-gigaton-tier.pdf" target="_blank" class="text-blue-600 visited:text-purple-600">
                Confira mais detalhes no regulamento dos planos.
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-5">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-5" aria-expanded="false" aria-controls="accordion-open-body-5">
            <span class="flex items-center">
              Eu preciso de um celular para realizar as vendas?
            </span>
            <svg data-accordion-icon class="ml-3 w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-5" class="hidden" aria-labelledby="accordion-open-heading-5">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Apenas a máquina T1 precisa de um celular Android ou iOS, com bluetooth e conexão de internet para poder realizar suas vendas, e as máquinas T2 e T3, não precisam de celular para realizar as vendas.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Você precisará de um celular Android ou iOS com o aplicativo do Ton instalado para ativar qualquer uma das máquinas, gerenciar suas vendas, realizar transferências, entre outras funcionalidades.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-6">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-6" aria-expanded="false" aria-controls="accordion-open-body-6">
            <span class="flex items-center">
              Como receberei o valor das minhas vendas?
            </span>
            <svg data-accordion-icon class="ml-3 w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-6" class="hidden" aria-labelledby="accordion-open-heading-6">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              O valor das vendas estarão disponíveis em sua carteira no prazo escolhido para o recebimento, podendo ser de 1 dia útil, 14 dias ou 30 dias, de acordo com a sua preferência.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Depois disso você poderá transferir para sua conta bancária cadastrada, sem custos, ou para o seu cartão pré-pago (disponível apenas para pessoa física).
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Importante: para transferir o saldo disponível é necessário que a conta bancária seja de mesma titularidade do CNPJ ou CPF cadastrado no aplicativo Ton.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Tipos de contas bancárias aceitas para transferência:
            </p>
            <ul class="ml-10 max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
              <li>Conta Corrente (exceto conta salário);</li>
              <li>Conta Poupança;</li>
              <li>Conta Corrente Conjunta;</li>
              <li>Conta Poupança Conjunta.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-7">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-7" aria-expanded="false" aria-controls="accordion-open-body-7">
            <span class="flex items-center">
              Como funciona a garantia da minha maquininha?
            </span>
            <svg data-accordion-icon class="ml-3 w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-7" class="hidden" aria-labelledby="accordion-open-heading-7">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              A garantia é ilimitada e cobre qualquer problema técnico ou dano de fabricação. Defeitos causados por mau uso ou uso indevido do leitor não serão cobertos pela garantia.
            </p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Em caso de problemas técnicos ou defeitos de fabricação, entre em contato com o nosso atendimento pelo chat do seu aplicativo.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-8">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-8" aria-expanded="false" aria-controls="accordion-open-body-8">
            <span class="flex items-center">
              Eu posso escolher a operadora do meu chip?
            </span>
            <svg data-accordion-icon class="ml-3 w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-8" class="hidden" aria-labelledby="accordion-open-heading-8">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Sim. Na hora de pedir sua máquina T2 ou T3, você pode escolher entre as operadoras Claro, Vivo ou Tim.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white overflow-hidden border border-gray-200 dark:border-gray-700 rounded-xl">
        <h2 id="accordion-open-heading-9">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-9" aria-expanded="false" aria-controls="accordion-open-body-9">
            <span class="flex items-center">
              O aplicativo Ton é compatível com quais dispositivos?
            </span>
            <svg data-accordion-icon class="ml-3 w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-open-body-9" class="hidden" aria-labelledby="accordion-open-heading-9">
          <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              O aplicativo funciona em qualquer dispostivo Android versão 5.0 ou superior, ou iOS versão 11 ou superior.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
