<div class="mx-auto flex justify-center my-12">
  <div class="text-center">
  <h1 class="text-3xl">Conheça as taxas do PromoTon</h1>
  <div class="flex space-x-2 items-center">
    <p>Taxas para vendas das bandeiras</p>
    <select id="card-select" class="py-2.5 px-0 text-center font-bold text-lg appearance-none focus:outline-none border-none focus:ring-0">
        <option value="MV">Mastercard e Visa</option>
        <option value="EAH">Elo, Amex e Hipercard</option>
    </select>
    </div>
    <div>
      <h1>Conheça o <span> <a class="text-[rgb(0,173,12)] text-decorat underline decoration-1" href="https://documentos.ton.com.br/regulamento-promoton-tier.pdf">regulamento do plano PromoTon</a></span></h1>
    </div>

  </div>
</div>
<div class="mx-auto my-12">
  <div>
    <h1 class="text-xl text-center mb-4">Aceite as <b>principais bandeiras e formas de pagamento</b></h1>
  </div>
  <div class="flex justify-center">
    <img src="{{ site.base_url }}/assets/img/bandeiras.png" class="">
  </div>
</div>
