
<nav class="bg-black relative w-full top-0 left-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="" class="flex items-center">
    <img src="{{ site.base_url }}/assets/img/logo-parceiro.png" class="h-[40px] md:h-[60px] mr-3" alt="Logo">
  </a>
  <div class="flex md:order-2">
      <a href="#maquininhas" class="text-black bg-lime-400 hover:bg-lime-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0">
        <div class="flex space-x-2">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" class="text-current stroke-current">
            <path d="M9 22a1 1 0 100-2 1 1 0 000 2zM20 22a1 1 0 100-2 1 1 0 000 2zM1 1h4l2.68 13.39a2 2 0 002 1.61h9.72a2 2 0 002-1.61L23 6H6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <p class="ml-2">Pedir agora</p>
      </div>
      </button>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </a>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:px-2 md:items-center">
      <li>
        <a href="#dúvidas" class="block py-2 pl-3 pr-4 text-black bg-lime-300 rounded md:bg-transparent md:text-black md:hover:bg-lime-300" aria-current="page">Dúvidas</a>
      </li>
      <li>
        <a href="#maquininhas" class="block py-2 pl-3 pr-4 text-black bg-lime-300 rounded md:bg-transparent md:text-black md:hover:bg-lime-300">Planos</a>
      </li>
      <li>
        <a href="#vantagens" class="block py-2 pl-3 pr-4 text-black bg-lime-300 rounded md:bg-transparent md:text-black md:hover:bg-lime-300">Vantagens</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
