<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="scroll-smooth">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Parceiro Ton</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
  </head>
  <body>
    {% include navbar.html %}
    {% include header.html %}
    {% include maquininhas.html %}
    {% include fills.html %}
    {% include vantagens.html %}
    {% include faq.html %}
    {% include footer.html %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLTEETWNBG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BLTEETWNBG');
    </script>
  </body>
</html>
